
* {
    box-sizing: border-box;
    margin: 0;
}

/*基準を1rem=10pxに設定*/
html {
    font-size: 62.5%;
}

/*最小値:1.1rem → 可変（0.9rem + 0.625vw（画面幅320px:2px, 800px:5px, 1200px:7.5px））→ 最大値:1.6rem*/
.font-size-S {
    font-size: clamp(1.1rem, calc(0.9rem + 0.625vw), 1.6rem);
}

/*最小値:1.2rem → 可変（1rem + 0.625vw（画面幅320px:2px, 800px:5px, 1200px:7.5px））→ 最大値:1.7rem*/
.font-size-M {
    font-size: clamp(1.2rem, calc(1rem + 0.625vw), 1.7rem);
}

/*最小値:1.6rem → 可変（2.2rem + 0.625vw（画面幅320px:2px, 800px:5px, 1200px:7.5px））→ 最大値:2.9rem*/
.font-size-L {
    font-size: clamp(2.4rem, calc(2.2rem + 0.625vw), 2.9rem);
}

a {
    text-decoration: none;
}

p {
    font-size: 2.1rem;
}

li {
    font-size: 1.1rem;
}

h1 {
    font-size: 5rem;
}

body {
    display: grid;
    grid-template-columns: 15% 75%;
    grid-template-areas: "sub main";
}

.preparation {
    text-align: center;
    margin: 10px 0 0 10px;
}

.preparation input {
    width: 100px;
}

.conplete {
    text-align: center;
    padding-top: 10px;
}

.tytle {
    text-align: center;
}

#status {
    text-align: center;
    font-size: 2rem;
    color: red;
}

.opponent {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-areas: 
    "word time card";
}

.previous {
    text-align: center;
    grid-area: word;
}

#previousWord {
    font-size: 4.5rem;
}

#time {
    grid-area: time;
    text-align: center;
    margin: auto;
    font-size: 6rem;
}

.previousCards {
    grid-area: card;
}

.previousCard {
    width: 150px;
    height: 200px;
    background-color: lightgray;
    border: 2px solid black;
}

.rules {
    text-align: center;
}

.next {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.next input {
    height: 68px;
    text-align: center;
    min-width: 100px;
    max-width: 100%;
    font-size: 68px;
    margin: 5px 0;
}

button #nextWordSendButton {
    width: 100px;
}

.cardStage {
    display: flex;
    justify-content: center;
}

.card {
    width: 175px;
    height: 250px;
    margin: 5px 10px;
    cursor: pointer;
    transition: border 0.3s ease;
}

.highlighted {
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow;
}

.reset {
    text-align: right;
    margin-right: 200px;
}

button #resetSendButton {
    width: 150px;
    
}

@media screen and (max-width:1062px) {

}

@media screen and (max-width:700px) {


}
